asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.1
django-chartjs==2.3.0
django-matplotlib==0.1
django-pandas==0.6.6
numpy==1.23.1
OdooRPC==0.8.0
pandas==1.4.3
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
